
.header {
    background: linear-gradient(90deg, rgb(27, 16, 181) 12%, rgb(69, 131, 255) 56%, rgb(50, 68, 230) 77%);
    padding-top: 0px;
   
  
    
  }

  .div-imagelogo {
    height: 300px;
    width: 300px;
  }

  .header div {
    max-width: 1120px;
    margin: 0 auto;
  
    padding: 2rem 1rem 12rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }